.header {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.dheader {
    display: flex;
    flex-direction:column;
    text-align:center;
    justify-content: center;
}
.header, .dheader {
    padding:15px;
}
img {
    width: 350px;
    border-radius: 45px;
}
tr {
    display: flex;
    flex-direction: column;
    text-align:center;
}   
td {
    font-style:italic;
}
.sec1 {
    display: flex;
    justify-content: center;
    background: black;
    color:white;
    padding: 15px;
}
h2 {
    text-align: center;
}
.div2{
display: flex;
justify-content:center;
}
.sec3 {
    background: black;
    text-align: center;
    color: white;
    padding:15px;
}
.sec4 {
    text-align: center;
}
.sec5 {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    margin-bottom: 200px;
}
body {
background-color:antiquewhite;   
}
table, th, tr, td {
    border: 1px solid White;
}
.green {
    background: green;
    height: 18px;
}